#product {
    font-family: Helvetica, sans-serif;
    margin: 30px auto;
    width: 1300px;
}

.product-info {
    display: flex;
    border-radius: 20px;
    height: 400px;
}

.product-info img {
    border-radius: 20px;
    margin-right: 10px;
}

.product-info .product-detail {
    height: 360px;
    width: 100%;
    border-radius: 20px;
    background-color: #EDE5E2;
    padding: 20px 40px;
}

.product-detail .product-category {
    text-transform: uppercase;
    margin-top: 20px;
}

.product-detail .product-name {
    text-transform: uppercase;
    font-weight: bold;
    color: #4A382F;
    font-size: 20px;
}

.product-detail .product-rate-sold {
    display: flex;
    align-items: center;
}

.product-detail .product-price {
    display: block;
    background-color: #D2BBC4;
    border-radius: 30px;
    height: 50px;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 8px #C6B9B0;
    margin-top: 10px;
}

.product-detail .product-amount {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.product-detail .product-amount .circle-btn {
    border-radius: 50%;
    border: none;
    background-color: #D2BBC4;
    height: 40px;
    width: 40px;
    margin: 20px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    line-height: 30px;
}

.product-detail .product-amount input {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 30px;
    height: 25px;
    text-align: center;
}

.product-detail .btn-buy {
    border-radius: 30px;
	background: #9D5D48;
	border: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	outline: none;
	cursor: pointer;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px #4A382F;

    margin: 10px;
    position: relative;
    left: 38%;
}

.product-description {
    height: 200px;
    border: 3px solid #A77A5D;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0px 20px;
}

.product-description p {
    font-size: 20px;
    font-weight: bolder;
    color: #9D5D48;
    line-height: 0px;
}

.product-review {
    margin-top: 20px;
}

.product-review .box-review {
    background-color: #9D5D48;
    height: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #4A382F;
    line-height: 50px;
    padding-left: 20px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.rating-list {
    margin-top: 20px;
}

.rating {
    display: flex;
    border: 1px solid #A77A5D;
    padding: 10px 30px;
    align-items: center;
    line-height: 0;
    border-radius: 5px;
    margin-top: 20px;
}

.rating .rating-detail {
    margin-left: 50px;
    line-height: 30px;
    position: relative;
    width: 100%;
}

.rating .rating-detail .rating-star img {
    padding-right: 5px;
}

.rating .rating-detail .rating-data {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating .rating-detail .rating-data img {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.rating .rating-detail .rating-data input {
    border: 1px solid lightgrey;
    outline: none;
    box-shadow: 2px 2px 8px #C2C4C4;
    border-radius: 5px;
}

.rating .rating-detail textarea {
    width: 88%;
    border: 1px solid lightgrey;
    outline: none;
    box-shadow: 2px 2px 8px #C2C4C4;
    resize: none;
    border-radius: 5px;
}

.rating-btn {
    border-radius: 30px;
	background: #D2BBC4;
	border: none;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	outline: none;
	cursor: pointer;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px #D2BBC4;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.rating-btn:hover {
    border-radius: 30px;
	background: #D2BBC4;
	border: none;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 1px;
	color: white;
	outline: none;
	cursor: pointer;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px #D2BBC4;
    position: absolute;
    right: 12px;
    bottom: 12px;
}