#navbar {
    font-family: Helvetica, sans-serif;
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    background:  #9D5D48;
    padding: 0px 40px;
  }

  .menu, .account {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  
  #navbar p {
    color: #EDE5E2;
    font-weight: bold;
    margin: 0px;
  }

  .search {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    width: 550px;
    height: 40px;
    box-shadow: 2px 2px 8px #4A382F;
    line-height: 40px;
  }
  