#user {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Helvetica, sans-serif;
    margin: 40px auto;
}

#user p {
    font-weight: bolder;
    text-align: center;
    font-size: 26px;
    color: #9D5D48;
}

.user-info {
    grid-column: 1;
    border: 1px solid lightgrey;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    box-shadow: 2px 2px 8px #C2C4C4;
    text-align: center;
}

.user-info .user-username {
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 10px;
    color: #9D5D48;
}

.update-user-form {
    grid-column: 2;
    width: 500px;
    height: 480px;
    border: 1px solid lightgrey;
    padding-bottom: 30px;
    border-radius: 40px;
    margin: 0 auto;
    box-shadow: 2px 2px 8px #C2C4C4;
}

.user-data {
    height: auto;
	width: 300px;
    margin: 30px auto;

}

.user-data label {
    color: #9D5D48;
    font-weight: bold;
}

.user-data input {
    border-radius: 20px;
	width: 100%;
    padding: 5px 10px;
    line-height: 30px;
	font-size: 15px;
    outline: none;
	background-color: #EDE5E2;
    border: none;
    box-shadow: 1px 1px 5px #D2BBC4;
    margin-top: 20px;
}

#user .btn-update {
    border-radius: 30px;
	background: #9D5D48;
	border: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	outline: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px #4A382F;

    margin: 0;
    position: relative;
    left: 42%;
}

#user .btn-update:hover {
    border-radius: 30px;
	background: #9D5D48;
	border: none;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	color: white;
	outline: none;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px #4A382F;

    margin: 0;
    position: relative;
    left: 40%;
}