#user {
    margin: 40px auto;
    width: 500px;
    border: 1px solid lightgrey;
    padding-bottom: 30px;
    font-family: Helvetica, sans-serif;
    border-radius: 40px;
    box-shadow: 2px 2px 8px #C2C4C4;
}

#user p {
    font-weight: bolder;
    text-align: center;
    font-size: 26px;
    color: #9D5D48;
}

.user-data {
    height: auto;
	width: 300px;
    margin: 30px auto;

}

.user-data label {
    color: #9D5D48;
    font-weight: bold;
}

.user-data input {
    border-radius: 20px;
	width: 100%;
    padding: 5px 10px;
    line-height: 30px;
	font-size: 15px;
	background-color: #EDE5E2;
    border: none;
    box-shadow: 1px 1px 5px #D2BBC4;
    margin-top: 20px;
}

#user .btn-update {
    border-radius: 30px;
	background: #9D5D48;
	border: none;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: white;
	outline: none;
	cursor: pointer;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px #4A382F;

    margin: 0;
    position: relative;
    left: 42%;
}