.product-list {
    display: flex;
    justify-content: center;
}

#product-item {
    margin-left: 20px;
    padding: 10px;
    width: 150px;
    height: 200px;
    background-color: #EDE5E2;
    border-radius: 10px;
    text-decoration: none;
}

#product-item img {
    border-radius: 10px;
}

#product-item .product-name {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #4A382F;
}

#product-item .product-rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#product-item .product-rating p {
    font-size: 12px;
    margin-left: 10px;
}