.search-view {
    display: inline-block;
    margin: 20px 50px;
    width: 100%;
}

.search-view #product-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 220px;
    background-color: #EDE5E2;
    border-radius: 10px;
    text-decoration: none;
}

.search-view #product-item img {
    border-radius: 10px;
}

.search-view #product-item .product-name {
    height: 26px;
    display: -webkit-box;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: #4A382F;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-view #product-item .product-price {
    font-size: 12px;
    background-color: #9D5D48;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 2px 15px;
    text-align: center;
}

.search-view #product-item .product-rating {
    display: flex;
    float: right;
    position: relative;
    align-items: center;
}

.search-view #product-item .product-rating p {
    font-size: 12px;
    margin-left: 10px;
    line-height: 0px;
}